
	</div>
<!-- Footer -->
	<div id="footer">
		<div id="footer_inner"><a href="?s=settings">Einstellungen</a><a href="https://play.google.com/store/apps/details?id=de.willytech.picontrol" target="_blank" title="Öffne Play Store">App im Play Store</a><a href="http://willy-tech.de/kontakt/" target="_blank">Feedback</a><a href="{$help_link}" target="_blank">Hilfe</a><span id="servertime">{$servertime}</span></div>
		<div id="footer_copyright"><p>Version {$version}</p>Entwickelt von <a href="http://willy-tech.de/" target="_blank">Willy Fritzsche</a>. 2013-2015.<p>Das Raspberry Pi Logo steht unter der Lizenz von <a href="http://www.raspberrypi.org/" target="_blank">www.raspberrypi.org</a></div>
	</div>
	<script type="text/javascript">var errorHandler = '{$errorHandler}';</script>
</body>
</html>