<div>
	<div class="box">
		<div class="inner-header">
			<span>Einstellungen</span>
		</div>
		<div class="inner">
			<table class="settings_menu_table">
				<tr>
					<td><a href="?s=settings&amp;do=pic">Pi Control</a></td>
					<td><a href="?s=settings&amp;do=overview">Übersicht</a></td>
				</tr>
				<tr>
					<td><a href="?s=settings&amp;do=statistic">Statistik</a></td>
					<td><a href="?s=settings&amp;do=plugins">Plugins</a></td>
				</tr>
				<tr>
					<td><a href="?s=settings&amp;do=update">Update</a></td>
					<td><a href="?s=settings&amp;do=trouble-shooting">Problembehandlung</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>