<!-- Sidebar -->
<div class="sidebar">
	<div class="box">
		<div class="inner-header">
			<span>Fortschritt</span>
		</div>
		<div class="inner">
			<div style="background: #E3E3E3; border-radius: 5px; box-shadow: 0px 0px 1px #AAAAAA; margin-bottom: 10px;"><div style="width: 99%; height: 10px; background: #3399FF; border-radius: 5px; box-shadow: 0px 0px 1px #0099FF;"></div></div>
			Installation zu 99% abgeschlossen.
		</div>
	</div>
</div>
<!-- Container -->
<div class="container-600">
	<div class="box">
		<div class="inner-header">
			<span>4. Schritt</span>
		</div>
		<div class="inner-bottom" align="justify">
			Juhu, nun bist du fast mit der Installation des Pi Control fertig. Im letzten Schritt wird alles fertig konfiguriert und erstellt, das kann ein paar Sekunden dauern. Danach wirst du zum installiertem Pi Control weitergeleitet.<br /><br />Viel Spaß!
		</div>
		<div class="inner-bottom" align="justify">
			Wenn du zukünftig eine E-Mail bei einer neuen Version des Pi Control erhalten möchtest, dann kannst du dich <a href="{$config_mail_url}?s=update_notification" target="_blank" style="color: #06C;">hier</a> in die Liste eintragen.
		</div>
		<div class="inner">
			<a href="?s=install_create&amp;next" style="text-decoration: none;"><input type="button" value="Installation abschließen" /></a>
		</div>
	</div>
</div>
<div class="clear_both"></div>